header {
  position: relative;
  background-color: #005cbf;
  color: #CCC;
  line-height: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 0px;
}

header .logo a img {
  content: url('../images/primary-navigation.png');
  width: 100px; 
  height: 40px;
  float: left;
}